body {
    background-color: lightgrey;
}

/*
.tabla-productos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: lightgray;
    padding: 20px;
}
*/



.tabla-productos{
    position: absolute;
    margin-top: 70px;
    width: 1000px;
    justify-content: center;
    margin-left: 250px;
}


.table th, .table td {
    padding: 5px; /* Reduce el espacio entre celdas */
    text-align: center; /* Centra el texto */
}









/*clases para el container de la lista de productos*/
.title-container{
    text-align: center;
}
.container-list{
    background-color: burlywood;
    
}

.container-list{
    width: 400px;
    border-radius: 30px;
    height: 200px;
    margin-left: 200px;
    margin-top: 50px;
}

/*clases el container de los botones agregar, modificar y eliminar*/ 
.container-buttoms{
    margin-left: 210px;
    margin-top: 20px;
}

.buttons {
    background-color: blanchedalmond;
    border-radius: 10px;
}

.buttons-formularios{
    background-color: blanchedalmond;
    border-radius: 10px;
}


/*clases para el container de los formularios (agregar y eliminar)*/
.container-forms{
    background-color: burlywood;
    width: 400px;
    height: 115px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 15px;
}

.title-form{
    text-align: center;
}
.input-forms{
    margin-left: 10px;
}

.buttons-forms{
    margin-top: 5px;
    margin-left: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
}

/*clase para el formulario modificar*/
.search-producto {
    background-color: burlywood;
    width: 400px;
    height: 230px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 15px;
}

.modify-form {
    padding: 10px;
    background-color: #f9f9f9;
}

.oculto {
    display: none;
}
.visible {
    display: block;
}