{% extends 'base/base.html' %}

{% block content %}
<div class="tabla-productos">
    <div class="d-flex justify-content-between mb-3">
        <!-- Formulario para filtrar productos por sucursal -->
        <form method="get" action="{% url 'home' %}" class="d-inline-block">
            <label for="sucursal">Filtrar por Sucursal:</label>
            <select name="sucursal" id="sucursal" class="form-select d-inline-block w-auto">
                <option value="">Seleccione una sucursal</option>
                {% for sucursal in sucursales %}
                    <option value="{{ sucursal.id }}" {% if request.GET.sucursal == sucursal.id|stringformat:"s" %}selected{% endif %}>
                        {{ sucursal.nombre_sucursal }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Filtrar</button>

            <label for="tipo">Filtrar por Tipo:</label>
            <select name="tipo" id="tipo" class="form-select d-inline-block w-auto">
                <option value="">Seleccione un tipo</option>
                {% for tipo in tipos %}
                    <option value="{{ tipo.id }}" {% if request.GET.tipo == tipo.id|stringformat:"s" %}selected{% endif %}>
                        {{ tipo.nombre }}
                    </option>
                {% endfor %}
            </select>
        
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    
        <div class="text-center">
            <a href="{% url 'home' %}?exportar=true&sucursal={{ request.GET.sucursal }}" class="btn" style="background-color: #8fcf7e; border-color: #8fcf7e; color: white; display: flex; align-items: center; padding: 10px 15px;">
                <img width="25" height="25" src="https://img.icons8.com/color/48/export-excel.png" alt="export-excel" class="mr-2"/>
                Descargar Inventario
            </a>
        </div>
    </div>
    <!-- Tabla de productos -->
    <table class="table-productos table table-striped border border-dark">
        <thead>
            <tr>
                <th><input type="checkbox" id="check-all"> Seleccionar todo</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Número de serie</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Sucursal</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td><input type="checkbox" name="producto" value="{{ producto.id }}"></td>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.numero_serie }}</td>
                    <td>{{ producto.tipo.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.sucursal.nombre_sucursal }}</td>
                    <td>  
                        <a href="javascript:void(0);" onclick="mostrarModal('modificar', '{{ producto.id }}', '{{ producto.nombre }}','{{ producto.numero_serie }}', '{{ producto.precio }}', '{{ producto.cantidad }}', '{{ producto.tipo.nombre }}', '{{ producto.sucursal.nombre_sucursal }}')">
                            <img width="30" height="30" src="https://img.icons8.com/cotton/128/edit--v2.png" alt="edit--v2"/>
                        </a>              
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Para ver los productos debe filtrar por sucursal.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container-buttoms">
        <button class="btn btn-success" onclick="mostrarModal('agregar')">
            <i class="bi bi-plus-circle"> Agregar Producto</i>
        </button>
    
        {% csrf_token %}
        <button id="eliminarProductosBtn" class="btn btn-danger" onclick="eliminarProductos()">
            <i class="bi bi-x-circle"> Eliminar Producto</i>
        </button>
        <a href="{% url 'phones' %}" class="btn btn-info">
            <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/list--v1.png" alt="list--v1"/> Lista de Teléfonos
        </a>
    </div>
</div>

    <!-- Modal para agregar producto -->
    <div id="modal-agregar" class="modal fade" tabindex="-1" aria-labelledby="modal-agregar-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-agregar-label">Agregar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id" class="form-label">Nombre:</label>
                            {{ form_agregar.nombre }}
                        </div>
                        <div class="mb-3">
                            <label for="id_numero_Serie" class="form-label">Número de serie:</label>
                            {{ form_agregar.numero_serie }}
                        </div>
                        <div class="mb-3">
                            <label for="id_precio" class="form-label">Precio:</label>
                            {{ form_agregar.precio }}
                        </div>
                        <div class="mb-3">
                            <label for="id_cantidad" class="form-label">Cantidad:</label>
                            {{ form_agregar.cantidad }}
                        </div>
                        <div class="mb-3">
                            <label for="id_tipo" class="form-label">Tipo:</label>
                            {{ form_agregar.tipo }}
                        </div>
                        <div class="mb-3">
                            <label for="id_sucursal" class="form-label">Sucursal:</label>
                            {{ form_agregar.sucursal }}
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-success" type="submit" name="agregar_producto">Guardar Producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Modal para modificar producto -->
<div class="modal fade" id="modal-modificar" tabindex="-1" aria-labelledby="modal-modificarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-modificarLabel">Modificar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-modificar" method="POST" action="{% url 'modificar_producto' %}">
                    {% csrf_token %}
                    <input type="hidden" id="producto-id" name="id">
                    
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>

                    <div class="mb-3">
                        <label for="numero_serie" class="form-label">Número de serie:</label>
                        <input type="text" class="form-control" id="numero_serie" name="numero_serie" required>
                    </div>

                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio:</label>
                        <input type="number" class="form-control" id="precio" name="precio" required>
                    </div>

                    <div class="mb-3">
                        <label for="cantidad" class="form-label">Cantidad:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                    </div>

                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo:</label>
                        <input type="text" class="form-control" id="tipo" name="tipo" required>
                    </div>

                    <div class="mb-3">
                        <label for="sucursal" class="form-label">Sucursal:</label>
                        <select class="form-select" id="sucursal" name="sucursal" required>
                            {% for suc in sucursales %}
                                <option value="{{ suc.nombre_sucursal }}">{{ suc.nombre_sucursal }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
