{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <h1 class="title-container">Inventario de productos</h1>

<div class="tabla-productos">
    <!-- Formulario para filtrar productos por sucursal -->
    <form method="get" action="{% url 'home' %}" class="mb-3">
        <label for="sucursal">Filtrar por Sucursal:</label>
        <select name="sucursal" id="sucursal" class="form-select d-inline-block w-auto">
            <option value="">Seleccione una sucursal</option>
            {% for sucursal in sucursales %}
                <option value="{{ sucursal.id }}" {% if request.GET.sucursal == sucursal.id|stringformat:"s" %}selected{% endif %}>
                    {{ sucursal.nombre_sucursal }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
    <!-- Tabla de productos -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Sucursal</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.sucursal.nombre_sucursal }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Para ver los productos debe filtrar por sucursal.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="container-buttoms">
        <button class="btn btn-success" onclick="mostrarModal('agregar')">
            <i class="bi bi-plus-circle"> Agregar Producto</i>
        </button>


        <button class="btn btn-warning" onclick="mostrarModal('modificar')">
            <i class="bi bi-pencil-fill"> Modificar Producto</i>
        </button>

        <button class="btn btn-danger" onclick="mostrarModal('eliminar')">
            <i class="bi bi-x-circle"> Eliminar Producto</i>
        </button>
        <a class="btn btn-info" href="{% url 'home' %}?exportar=true&sucursal={{ request.GET.sucursal }}" ><i class=" bi bi-arrow-down-circle">Descargar Inventario</i></a>
    </div>

        <!-- Modal para Agregar Producto -->
    <div id="modal-agregar" class="modal fade" tabindex="-1" aria-labelledby="modal-agregar-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-agregar-label">Agregar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de agregar producto -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="margin-left: 10px;">
                            <label for="id_nombre">Nombre:</label>
                            {{ form_agregar.nombre }}
                        </div>
                        <div class="form-group" style="margin-left: 10px;">
                            <label for="id_precio">Precio:</label>
                            {{ form_agregar.precio }}
                        </div>
                        <div style="text-align: center; margin-top: 10px;">
                            <button class="btn btn-success" type="submit" name="agregar_producto">Guardar Producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Modificar Producto -->
    <div id="modal-modificar" class="modal fade" tabindex="-1" aria-labelledby="modal-modificar-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-modificar-label">Modificar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de modificar producto -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="margin-left: 10px;">
                            <label for="id_producto">ID del Producto:</label>
                            <input type="number" name="producto_id" id="id_producto" required>
                            <button type="submit" class="btn btn-primary">🔍 Buscar</button>
                        </div>

                        {% if producto %}
                            <!-- Formulario solo visible si el producto existe -->
                            <div class="form-group" style="margin-left: 10px;">
                                <label for="id_nombre">Nuevo Nombre:</label>
                                <input type="text" name="nuevo_nombre" id="id_nombre" placeholder="Nuevo nombre del producto" value="{{ producto.nombre }}">
                            </div>
                            <div class="form-group" style="margin-left: 10px;">
                                <label for="id_precio">Nuevo Precio:</label>
                                <input type="number" name="nuevo_precio" id="id_precio" placeholder="Nuevo precio del producto" value="{{ producto.precio }}">
                            </div>
                            <div style="text-align: center; margin-top: 10px;">
                                <button class="btn btn-warning" type="submit" name="modificar_producto">Modificar Producto</button>
                            </div>
                        {% else %}
                            <!-- Mensaje si no se encuentra el producto -->
                            <p class="text-danger">Producto no encontrado. Por favor, verifique el ID ingresado.</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para Eliminar Producto -->
    <div id="modal-eliminar" class="modal fade" tabindex="-1" aria-labelledby="modal-eliminar-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-eliminar-label">Eliminar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Mostrar error si existe -->
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}

                    <!-- Formulario para eliminar producto -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="margin-left: 10px;">
                            <label for="producto_id">ID del producto:</label>
                            <input type="number" name="producto_id" placeholder="ID del producto a eliminar" required>
                        </div>
                        <div style="text-align: center; margin-top: 10px;">
                            <button class="btn btn-danger" type="submit" name="eliminar_producto">Eliminar Producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
